# 忽略当前文件夹下所有文件上传 git
*

# 忽略 MacOS 系统特有文件
.DS_Store

# 排除 config 文件
!config
!config/**

# 排除 etcd 文件
!etcd
!etcd/**

# 排除 jenkins 文件
!jenkins
!jenkins/**

# 排除 mysql 文件
!mysql
!mysql/**

# 排除 php 文件
!php
!php/**

# 排除 redis 文件
!redis
!redis/**

# 排除 www 文件
!www
!www/**

# 排除 .gitignore 文件
!.gitignore

# 排除 compose.sample.yml 文件
!compose.sample.yml

# 排除 LICENSE 文件
!LICENSE

# 排除 README.md 文件
!README.md