# 忽略当前文件夹下所有文件上传 git
*

# 排除 .gitignore 文件
!.gitignore

# 排除 config 文件
!config
!config/**

# 排除 data 文件
!data
!data/**

# 排除 extensions 文件
!extensions
!extensions/**

# 排除 init 文件
!init
!init/**

# 排除 logs 文件
!logs
!logs/**

# 排除 Dockerfile 文件
!Dockerfile

# 排除 compose.sample.yml 文件
!compose.sample.yml

# 排除 sample.env 文件
!sample.env
