# +--------------+
# Acme mode
# +--------------+
# webroot or dns
ACME_MODE=webroot

# +--------------+
# Domains
# +--------------+
# Use ; to separate domains in one certificate.
# Example: example.com;www.example.com
# Wildcard certificates require dns mode.
ACME_DOMAINS=

# +--------------+
# Account
# +--------------+
ACME_EMAIL=

# +--------------+
# CA server
# +--------------+
# letsencrypt, zerossl, buypass, ssl.com, google, or empty for acme.sh default
ACME_SERVER=letsencrypt

# +--------------+
# DNS mode
# +--------------+
# Example: dns_ali, dns_cf
ACME_DNS=

# +--------------+
# Webroot mode
# +--------------+
ACME_WEBROOT=/usr/share/nginx/html

# +--------------+
# Storage
# +--------------+
ACME_CERT_HOME=/usr/config/acme

# +--------------+
# Key type
# +--------------+
# ec-256, ec-384, 2048, 3072, 4096
ACME_KEYLENGTH=ec-256

# +--------------+
# Renew loop
# +--------------+
ACME_RENEW_INTERVAL_SECONDS=86400
