# +--------------+
# Container Timezone
# +--------------+
TZ=Asia/Shanghai

# +--------------+
# Container package fetch url
# +--------------+
#
# +---------------------------+
# Url that can be used:
#
# mirrors.aliyun.com
# mirrors.ustc.edu.cn
# dl-cdn.alpinelinux.org
#
# +---------------------------+
CONTAINER_PACKAGE_URL=mirrors.aliyun.com

# +--------------+
# Composer Related Configuration
# +--------------+
#
# +---------------------------+
# Url that can be used:
#
# COMPOSER_IMAGE_URL:
# https://packagist.phpcomposer.com
# https://mirrors.aliyun.com/composer
#
# +---------------------------+
COMPOSER_IMAGE_URL=https://mirrors.aliyun.com/composer

# +--------------+
# PHP Related Configuration
# +--------------+
#
# +--------------------------------------------------------------------------------------------+
# Default installed:
#
# Core,ctype,curl,date,dom,fileinfo,filter,ftp,hash,iconv,json,libxml,mbstring,mysqlnd,openssl,pcre,PDO,
# pdo_sqlite,Phar,posix,readline,Reflection,session,SimpleXML,sodium,SPL,sqlite3,standard,tokenizer,uri,
# xml,xmlreader,xmlwriter,Zend OPcache,zlib
#
# Available PHP_EXTENSIONS:
#
# Extensions are separated by commas. Dockerfile will convert them to install-php-extensions arguments.
# PHP 扩展使用英文逗号分隔，Dockerfile 会自动转换为 install-php-extensions 所需的参数格式。
# See supported extensions: https://github.com/mlocati/docker-php-extension-installer#supported-php-extensions
# 支持的扩展列表请参考：https://github.com/mlocati/docker-php-extension-installer#supported-php-extensions
#
# You can let it empty to avoid installing any extensions,
# +--------------------------------------------------------------------------------------------+
PHP_EXTENSIONS=pdo_mysql,redis,gd,mongodb
