# 忽略当前文件夹下所有文件上传 git
*

# 排除 .gitignore 文件
!.gitignore

# 排除 01.jpg 文件
!01.jpg

# 排除 02.jpg 文件
!02.jpg

# 排除 03.jpg 文件
!03.jpg

# 排除 04.jpg 文件
!04.jpg

# 排除 05.jpg 文件
!05.jpg

# 排除 06.jpg 文件
!06.jpg

# 排除 07.jpg 文件
!07.jpg

# 排除 08.jpg 文件
!08.jpg

# 排除 09.jpg 文件
!09.jpg

# 排除 10.jpg 文件
!10.jpg

# 排除 11.jpg 文件
!11.jpg

# 排除 12.jpg 文件
!12.jpg

# 排除 13.jpg 文件
!13.jpg

# 排除 14.jpg 文件
!14.jpg
