server {
   listen       80;
   listen  [::]:80;
   server_name  localhost; # 域名

   # 跳转  实现 http 强转 https
   #rewrite ^(.*)$ https://${server_name}$1 permanent;
}

server {
    listen       443 ssl;
    listen  [::]:443 ssl;
    server_name  localhost;
    root   /usr/share/nginx/html/localhost;
    index  index.php index.html index.htm;

    access_log  /var/log/nginx/docker.imcgy.top.log main;
    error_log  /var/log/nginx/docker.imcgy.top.error.log info;
    charset utf-8; #防止txt文本出现乱码

    # ssl证书地址
    ssl_certificate     /usr/config/acme/certs/localhost/fullchain.pem; # 公钥
    ssl_certificate_key /usr/config/acme/certs/localhost/key.pem; # 私钥

    # ssl验证相关配置
    ssl_session_timeout  5m;    #缓存有效期
    ssl_ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE:ECDH:AES:HIGH:!NULL:!aNULL:!MD5:!ADH:!RC4;    #加密算法
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2 TLSv1.3;    #安全链接可选的加密协议
    ssl_prefer_server_ciphers on;   #使用服务器端的首选算法

    location / {
        root   /usr/share/nginx/html/localhost;
        index  index.html;
    }

    # 这里配置的代理转发，方便看PHP版本,不需要可以删除
    # +----------------- start -----------------+
    location /72/ {
        proxy_pass http://localhost:81/;
    }

    location /73/ {
        proxy_pass http://localhost:82/;
    }

    location /74/ {
        proxy_pass http://localhost:83/;
    }

    location /80/ {
        proxy_pass http://localhost:84/;
    }

    location /81/ {
        proxy_pass http://localhost:85/;
    }

    location /82/ {
        proxy_pass http://localhost:86/;
    }

    location /83/ {
        proxy_pass http://localhost:87/;
    }

    location /84/ {
        proxy_pass http://localhost:88/;
    }
    # +------------------ end ------------------+
}

# 这里配置的代理转发，方便看PHP版本,不需要可以删除
# +----------------- start -----------------+
server{
    listen       81;
    listen  [::]:81;
    server_name  localhost;
    root   /usr/share/nginx/html/localhost;
    index  index.php index.html index.htm;

    location ~ [^/]\.php(/|$) {
        # 注意这里和php-fpm的挂载目录一致
        root           /var/www/html/localhost;
        include php/enable-php-72.conf;
    }

    # php-fpm 进程状态监控
    location /fpm-status {
        include php/enable-php-72.conf;
    }
}

server{
    listen       82;
    listen  [::]:82;
    server_name  localhost;
    root   /usr/share/nginx/html/localhost;
    index  index.php index.html index.htm;

    location ~ [^/]\.php(/|$) {
        # 注意这里和php-fpm的挂载目录一致
        root           /var/www/html/localhost;
        include php/enable-php-73.conf;
    }

    # php-fpm 进程状态监控
    location /fpm-status {
        include php/enable-php-73.conf;
    }
}

server{
    listen       83;
    listen  [::]:83;
    server_name  localhost;
    root   /usr/share/nginx/html/localhost;
    index  index.php index.html index.htm;

    location ~ [^/]\.php(/|$) {
        # 注意这里和php-fpm的挂载目录一致
        root           /var/www/html/localhost;
        include php/enable-php-74.conf;
    }

    # php-fpm 进程状态监控
    location /fpm-status {
        include php/enable-php-74.conf;
    }
}

server{
    listen       84;
    listen  [::]:84;
    server_name  localhost;
    root   /usr/share/nginx/html/localhost;
    index  index.php index.html index.htm;

    location ~ [^/]\.php(/|$) {
        # 注意这里和php-fpm的挂载目录一致
        root           /var/www/html/localhost;
        include php/enable-php-80.conf;
    }

    # php-fpm 进程状态监控
    location /fpm-status {
        include php/enable-php-80.conf;
    }
}

server{
    listen       85;
    listen  [::]:85;
    server_name  localhost;
    root   /usr/share/nginx/html/localhost;
    index  index.php index.html index.htm;

    location ~ [^/]\.php(/|$) {
        # 注意这里和php-fpm的挂载目录一致
        root           /var/www/html/localhost;
        include php/enable-php-81.conf;
    }

    # php-fpm 进程状态监控
    location /fpm-status {
        include php/enable-php-81.conf;
    }
}

server{
    listen       86;
    listen  [::]:86;
    server_name  localhost;
    root   /usr/share/nginx/html/localhost;
    index  index.php index.html index.htm;

    location ~ [^/]\.php(/|$) {
        # 注意这里和php-fpm的挂载目录一致
        root           /var/www/html/localhost;
        include php/enable-php-82.conf;
    }

    # php-fpm 进程状态监控
    location /fpm-status {
        include php/enable-php-82.conf;
    }
}

server{
    listen       87;
    listen  [::]:87;
    server_name  localhost;
    root   /usr/share/nginx/html/localhost;
    index  index.php index.html index.htm;

    location ~ [^/]\.php(/|$) {
        # 注意这里和php-fpm的挂载目录一致
        root           /var/www/html/localhost;
        include php/enable-php-83.conf;
    }

    # php-fpm 进程状态监控
    location /fpm-status {
        include php/enable-php-83.conf;
    }
}

server{
    listen       88;
    listen  [::]:88;
    server_name  localhost;
    root   /usr/share/nginx/html/localhost;
    index  index.php index.html index.htm;

    location ~ [^/]\.php(/|$) {
        # 注意这里和php-fpm的挂载目录一致
        root           /var/www/html/localhost;
        include php/enable-php-84.conf;
    }

    # php-fpm 进程状态监控
    location /fpm-status {
        include php/enable-php-84.conf;
    }
}
# +------------------ end ------------------+
