# 忽略当前文件夹下所有文件上传 git
*

# 排除 .gitignore 文件
!.gitignore

# 排除 7.4 文件
!7.4
!7.4/**

# 排除 8.2 文件
!8.2
!8.2/**

# 排除 8.3 文件
!8.3
!8.3/**

# 排除 8.4 文件
!8.4
!8.4/**

# 排除 8.5 文件
!8.5
!8.5/**

# 排除 readme 文件
!readme
!readme/**

# 排除 README.md 文件
!README.md
