# 忽略当前文件夹下所有文件上传 git
*

# 排除 .gitignore 文件
!.gitignore

# 排除 build-php85-test.yml 文件
!build-php85-test.yml

# 排除 mysql-docker-build-test.yml 文件
!mysql-docker-build-test.yml

# 排除 node-docker-build-test.yml 文件
!node-docker-build-test.yml

# 排除 nginx-docker-build-test.yml 文件
!nginx-docker-build-test.yml

# 排除 php-docker-build-test.yml 文件
!php-docker-build-test.yml

# 排除 rabbitmq-docker-build-test.yml 文件
!rabbitmq-docker-build-test.yml
